<div *ngIf="postsData.length" class="post-list">
    <div *ngFor="let post of postsData" class="post-list__post">
        <div class="accordian">
            <button class="accordion__title" (click)="toggleAccordian(post)">{{post.title}}</button>
            <div class="accordian__content-wrapper" [ngClass]="post.showPanel ? 'panel-show' : 'panel-hide'">
                <p class="accordian__content">{{post.content}}</p>
                <hr>
                <div class="accordian__buttons">
                    <button class="btn accordian__button-edit">EDIT</button>
                    <button class="btn accordian__button-delete">DELETE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!postsData.length" class="no-posts" align="center">
    <p>No posts added yet</p>
</div>